<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/dist/detail.js" type="module"></script>
    <title>Detail page</title>
  </head>

  <body>
    <nav class="navbar navbar" style="background-color: #d3e5f6">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/assets/resources/app_icon_circle.png"
            alt=""
            width="40"
            height="35"
          />
        </a>
        <h1 style="text-align: left; color: steelblue">TOP VSC Extensions</h1>
        <span class="navbar-text">
          <h2>
            <a href="list"
              ><i class="bi bi-chevron-left" style="color: slategray"></i
            ></a>
          </h2>
        </span>
      </div>
    </nav>

    <!-- TITLE -->
    <h3
      id="extensionName"
      style="padding-top: 5%; padding-bottom: 2%; text-align: center"
    >
      {{ selectedExtension.extName }}
    </h3>

    <div id="detailExtension">
      <div class="col">
        <!-- Author -->
        <div style="text-align: center; padding-bottom: 3%">
          <p id="extAuthor">{{ selectedExtension.extAuthor }}</p>
        </div>
        <div class="img-container" style="text-align: center">
          <!--Image -->
          <img
            id="image"
            style="
              border-radius: 50%;
              max-width: 25%;
              max-height: 25%;
              text-align: center;
              align-content: center;
            "
            src="/assets/images/{{ selectedExtension.extImg }}"
            alt="extension image"
          />
        </div>
        <div class="row pt-5 pl-4 pr-4 m-3">
          <!--TextArea-->
          <textarea
            id="description"
            readonly="readonly"
            rows="5"
            style="height: auto; width: 100%; text-align: justify; padding: 5%"
            >{{ selectedExtension.extDescription }}</textarea
          >
        </div>
        <div class="row pt-5 pl-4 pr-4 p-4" style="margin-bottom: 10%">
          <!-- Downloads & Rating -->
          <div id="downloads" class="col-8">
            Downloads:
            {{ selectedExtension.extDownloads }}
          </div>
          <div id="rating" class="col-4">
            Rating: {{ selectedExtension.extRating }}
          </div>
        </div>
      </div>
    </div>

    <div
      class="footer"
      style="
        background-color: #d3e5f6;
        color: steelblue;
        text-align: center;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-top: 2%;
        padding-bottom: 2%;
      "
    >
      @Copyright: Marta Boteller 2021
    </div>
  </body>
</html>
