<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />

    <script src="dist/app.js" type="module"></script>
    <title>Top VSC Extensions List</title>
  </head>

  <body>
    <nav class="navbar navbar" style="background-color: #d3e5f6">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="/assets/resources/app_icon_circle.png"
            alt=""
            width="40"
            height="35"
          />
        </a>
        <h1 style="text-align: left; color: steelblue">TOP VSC Extensions</h1>
        <span class="navbar-text">
          <a href="login"
            ><i class="fas fa-sign-out-alt fa-2x" style="color: slategrey"> </i>
          </a>
        </span>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row" style="background-color: cadetblue"></div>
    </div>
    <!-- Injected HTML with extension information here -->
    <div id="extension_list"></div>
  </body>
</html>
